@font-face {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    src: url(../Rainydays_Design1/Lato/Lato-Bold.ttf);
    src: url(../Rainydays_Design1/Megrim/Megrim-Regular.ttf);
}

    html, body {
        height: 100%;
        margin: 0%;
    }

    .bgimage {
    background-image: url("images/background_image.jpg");
    filter: blur(7px);
    -webkit-filter: blur(5px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    a:hover {
        text-decoration: none;
    }
    
    footer {
        padding: 25px;
        text-align: center;
        background: #c7d7d9;
        font-family: "lato", Arial, Helvetica, sans-serif;
    }
    
    .link {
        color: black;
        padding: 10px;
    }

    label::after {
        content: "";
        display: block;
        padding: 10px;
      }

    main {
        background-color: #c7d7d9;
        opacity: 0.8;
        position: absolute;
        margin: 10px;
        margin-left: 50px;
        top: 20px;
        left: 40px;
    }

    img, h1 {
        font-family: "lato", Arial, Helvetica, sans-serif;
        margin: 20px;
        font-size: 20px;
    }

    .container {
        max-width: 1000px;
        margin: 50px, auto;
        display: flex;
    }

    .container2 {
        max-width: 1000px;
        margin: 50, auto;
        display: flex;
    }

    p {
        padding: 20px;
        display: inline;
    }

    input[type=text] {
        padding: 10px;
        width: 60%;
    }

    .cta {
        font-family: "lato", Arial, Helvetica, sans-serif;
        position: relative;
        bottom: -250px;
        left: 50px;
        background-color: #d97a15;
        color: black;
        opacity: 0.9;
        font-size: 0,8em;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 10px;
        text-align: center;
    }

    .container2 > * {
        flex: 1;
    }

