@font-face {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    src: url(../Rainydays_Design1/Lato/Lato-Bold.ttf);
    src: url(../Rainydays_Design1/Megrim/Megrim-Regular.ttf);
}

    html, body {
        height: 100%;
        margin: 0%;
    }

    .bgimage {
    background-image: url("images/background_image.jpg");
    filter: blur(7px);
    -webkit-filter: blur(5px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    main {
        display: flex;
        justify-content: space-around;
    }

    .menuicon {
       max-width: 35px;
       position: absolute;
       top: 20px;
       right: 30px;
    }

    .text {
        position: absolute;
        top: 60px;
        left: 200px;
        margin: 100px;
        padding: 20px;
        max-width: 350px;
        text-align: left;
        background-color: #c7d7d9;
        opacity: 0.8;
    }

    .text2 {
        position: absolute;
        top: 60px;
        right: 250px;
        max-width: 390px;
        background-color: #c7d7d9;
        opacity: 0.8;
        margin: 100px;
        padding: 30px;
        text-align: left;
    }

    h1, h2, p {
        font-family: "Lato", Arial, Helvetica, sans-serif;
        color: #313d40;
    }

    