@font-face {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    src: url(../Rainydays_Design1/Lato/Lato-Bold.ttf);
    src: url(../Rainydays_Design1/Megrim/Megrim-Regular.ttf);
}

/* Header and Footer on Page
 ---------------------*/

 .headerimage {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

header, footer {
    background: #c7d7d9;
    font-family: "lato", Arial, Helvetica, sans-serif;
}

.link {
    color: black;
}

.footer {
    text-align: center;
    padding: 25px;
}

.menuicon {
    max-width: 24px;
    padding: 10px;
    float: right;
    display: inline-block;
    margin: -5px;
}

.menu {
    color: #0A3641; 
}

#Salemenu {
    color: #d97a15;
}

ul {
    padding: 15px;
    margin: -3px;
}

li {
display: inline;
}

nav a {
    padding: 10px;
}

/* Body and main on page
 -----------------*/

body {
    font-family: 'Lato', arial, sans-serif;
}

h1 {
   text-align: center;
   padding: 10px;
   font-size: 18px;
}

.container {
    display: grid;
    display-grid-column: 1fr; 
    margin: 10px
    
}

.feature {
   display: grid;
   grid-template-columns: 1fr;
   max-width: 1200px;
   margin: 10px auto;
   grid-gap: 30px;
}

.feature img {
    height: 350px;
    width: 350px;
}

.products {
display: grid;
grid-template-columns: 200px;
margin: 20px;
}

.products img {
    grid-column: -1/1;
}

.cta {
background-color: #c7d7d9;
color: #0a3641;
opacity: 0.8;
font-size: 0,8em;
text-transform: uppercase;
padding: 10px 20px;
border-radius: 10px;
margin: 10px;
text-align: center;
}

.couple {
background-image: url("images/couple_mountains.jpg");
background-size: cover;
min-height: 70vh;
position: relative;
}

h3 {
    font-family: 'Megrim', cursive;
    color: #d97a15;
    position: absolute;
    bottom: 0px;
    left: 120px;
    top: 30px; 
    font-size: 40px;
}

h4 {
    font-family: 'Megrim', cursive;
    color: #d97a15;
    position: absolute;
    bottom: 10px;
    left: 150px;
    top: 90px; 
    font-size: 30px;
    }

.shop_now {
position: absolute;
bottom: 10px;
left: 200px;
top: 200px;
}


/* Meta style on site 
------------------------*/
/* max-width 768px and smaller (most tablets)
/* min-width: 769px and larger (most pc and landscape tablets) */

@media (min-width: 750px){
    .feature {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   max-width: 1200px;
   margin: 10px auto;
   grid-gap: 30px;
   align-items: center;
    }

    .products {
        display: grid;
        grid-template-columns: 100px, 100px;
        margin: 20px;
        }

        .container {
            display: flex;
            justify-content: space-evenly;
            margin: 10px
        }

        .couple {
            background-image: url("images/couple_mountains.jpg");
            background-size: cover;
            min-height: 70vh;
            position: relative;
            }

            h3 {
                font-family: 'Megrim', cursive;
                color: #d97a15;
                position: absolute;
                bottom: 0px;
                left: 200px;
                top: -5px; 
                font-size: 50px;
            }
            
            h4 {
                font-family: 'Megrim', cursive;
                color: #d97a15;
                position: absolute;
                bottom: 10px;
                left: 230px;
                top: 80px; 
                font-size: 40px;
                }
            
            .shop_now {
            position: absolute;
            bottom: 10px;
            left: 500px;
            top: 250px;
            }
}

